[2015-04-07 17:12] 3lvis opened #3 "GET with SSL base URL (self signed certificate) not working"
Using GET with `https://api-news.layervault.com/api/v2` causes the following error when running tests:

[code]

[2015-04-07 17:15] 3lvis commented on #3
One way could be implementing this delegate methods

http://stackoverflow.com/questions/23241872/nsurlconnection-cfurlconnection-http-load-failed-kcfstreamerrordomainssl-9813

[2015-04-19 11:03] 3lvis opened #5 "Strict mode"
http://developer.android.com/reference/android/os/StrictMode.html

[2015-09-04 10:30] 3lvis opened #8 "Pretty print errors"
When an error happens, print it

[2015-09-07 09:37] 3lvis opened #9 "Add documentation for POST"

[2015-09-08 08:28] 3lvis opened #12 "Make sure that completion returns in the main thread"

[2015-09-30 21:34] 3lvis commented on #9
Done

[2015-09-30 21:34] #9 closed

[2015-09-30 21:35] 3lvis commented on #12
Done, but it should be unit tested too.

[2015-09-30 21:35] 3lvis commented on #8
Print HTTP Header, method, and other useful information

[2015-10-01 20:30] 3lvis opened #14 "Deprecated methods on iOS 9"

[2015-10-02 11:04] 3lvis opened #16 "Avoid multiple get calls to the same endpoint"
Inspiration: https://github.com/3lvis/AFHTTPSessionManager-AFUniqueGET

[2015-10-02 11:36] 3lvis opened #17 "DELETE support"

[2015-10-02 11:36] 3lvis opened #18 "PUT Support"

[2015-10-07 08:41] 3lvis opened #19 "Check for response status code"

[2015-10-08 10:20] 3lvis opened #20 "Handle authentication challenges with redirects :skull:"

[2015-10-08 13:05] 3lvis opened #22 "Handle completion blocks with status codes for better error handling"
For example if I get an error with status code `401` I might want to show the user a better error saying "You're Unauthorized" and then logging him out if he was doing any weird task, because this means that he probably changed his password and doesn't matter what he does he's not going to be able to use the app anyway, because his credentials are invalid.

It would be even better if `Networking`

[2015-10-20 11:07] 3lvis opened #23 "WatchOS support"
UIApplication is non-existent

[2015-10-21 18:31] mariusfeldmann opened #24 "Support for url parameters and custom request headers"
Having support for url parameters and custom request headers would be great!

Should be pretty straightforward. Something along the lines of:

```public func GET(path: String, params: [String: AnyObject], headers: [String: String], completion: (JSON: AnyObject?, error: NSError?) -> ()) ```

What do you think?

[2015-10-21 19:03] 3lvis commented on #24
Any use cases?

[2015-10-21 19:19] 3lvis commented on #23
Done!

[2015-10-21 19:19] #23 closed

[2015-10-21 19:19] 3lvis commented on #14
Fixed

[2015-10-21 19:19] #14 closed

[2015-10-21 19:20] 3lvis commented on #8
Fixed!

[2015-10-21 19:20] #8 closed

[2015-10-21 19:21] 3lvis commented on #12
Not sure if this can be unit tested since Networking does something different in testing environments.

[2015-10-21 19:21] #12 closed

[2015-10-26 15:19] 3lvis commented on #24
This was related to Basic Auth.

[2015-10-29 20:54] 3lvis opened #28 "4xx and 5xx should return error"

[2015-10-31 00:19] 3lvis opened #29 "Recording sessions"
A flag that turns on recording sessions. It will store the request details and response in a .plist that can be read afterwards to fake requests.

[2015-11-10 18:13] 3lvis opened #30 "Improve support for cancelling operations"
Would be great to be able to cancel an operation using the operation type (GET, POST, PUT, etc) and the used path.

[2015-11-11 08:19] 3lvis opened #31 "Improve network activity indicator handling"
Right now when an operation starts the networking indicator will show, and when the operation ends if gets hidden.

This works well if there's only one networking operation at the time, but sucks when there are multiple running since the networking indicator will get hidden when one operation ends even though the other operation is still in progress.

Would be great to have a NetworkActivityIndica

[2015-11-11 08:25] 3lvis commented on #31
[code]

[code]

[2015-11-11 11:30] 3lvis opened #33 "Unique GET requests"
Pretty much https://github.com/3lvis/AFHTTPSessionManager-AFUniqueGET

[2015-11-11 13:27] #30 closed

[2015-11-17 10:29] 3lvis commented on #16
Duplicated #16

[2015-11-17 10:29] #16 closed

[2015-11-17 22:12] 3lvis commented on #18
Added

[2015-11-17 22:12] #18 closed

[2015-11-17 22:13] 3lvis commented on #17
Added

[2015-11-17 22:13] #17 closed

[2015-11-17 22:14] 3lvis commented on #5
Not needed

[2015-11-17 22:14] #5 closed

[2015-11-17 22:14] 3lvis commented on #19
Duplicated of #22

[2015-11-17 22:14] #19 closed

[2015-11-17 22:15] 3lvis commented on #28
Duplicated of #22

[2015-11-17 22:15] #28 closed

[2015-11-18 13:20] #31 closed

[2015-12-22 14:07] 3lvis opened #41 "Automatic validation"
Automatically validates status code within `200...299` range, and that the `Content-Type` header of the response matches the `Accept` header of the request, if one is provided.

[2015-12-22 15:16] #41 closed

[2015-12-22 15:46] 3lvis opened #43 "Support other Content-Types"
Example:

[code]

[2015-12-23 13:54] #43 closed

[2015-12-23 14:03] 3lvis opened #45 "Escape parameters when using x-www-form-urlencoded"
This is the recommended way of formatting the parameters when using x-www-form-urlencoded.

[Link](http://www.w3.org/TR/html401/interact/forms.html)

More info: http://stackoverflow.com/questions/4007969/application-x-www-form-urlencoded-or-multipart-form-data

[2015-12-29 22:58] 3lvis opened #47 "Clear image cache"
Maybe something like:

[code]

The second method removes all the files, probably more convenient/necessary than the first one.

[2016-01-15 08:53] 3lvis opened #48 "Improve cancelled request logged error"
Current:

[code]

Should probably be something like:

[code]

[2016-01-15 10:48] 3lvis commented on #45
Escape & parameters

[2016-01-15 10:48] 3lvis commented on #45
Spaces work well

[2016-01-15 11:43] 3lvis opened #49 "Ephemeral configuration"
Provide support for ephemeral configuration. Useful for private browsing modes and silly backends that don't provide proper cache validation.

[2016-01-15 15:54] 3lvis commented on #49
Fixed in https://github.com/3lvis/Networking/pull/50

[2016-01-15 15:54] #49 closed

[2016-01-16 17:02] #48 closed

[2016-01-16 17:08] 3lvis commented on #45
Still not sure if this is my fault. Looks like there are a few reserved words.

[2016-01-16 17:09] 3lvis commented on #45
Closing for now.

[2016-01-16 17:09] #45 closed

[2016-01-16 17:09] 3lvis commented on #24
Added basic auth. Should be fine to close this for now.

[2016-01-16 17:09] #24 closed

[2016-01-16 17:10] 3lvis commented on #3
Haven't experienced this again, maybe is because I'm now using NSURLSession. Closing.

[2016-01-16 17:10] #3 closed

[2016-01-16 17:10] 3lvis commented on #20
Nah.

[2016-01-16 17:10] #20 closed

[2016-01-16 17:12] 3lvis commented on #22
Fixes in https://github.com/3lvis/Networking/pull/42

[2016-01-16 17:12] #22 closed

[2016-01-19 12:05] 3lvis opened #52 "Provide an easy check to categorize errors"
1XX Informational, 2XX Successful, 3XX Redirection, 4XX Client Error and 5XX Server Error

[2016-01-19 12:59] 3lvis commented on #52
[code]

[2016-01-19 14:32] 3lvis commented on #52
Partly added in https://github.com/3lvis/Networking/commit/665a28233f4fdf8a6cd00f7d57579ca0ec4f6532, I think we might not need to check for 1XX, 2XX and 3XX.

[2016-01-19 14:32] #52 closed

[2016-01-19 14:32] 3lvis opened #54 "Easy way to fake networking failures for specific endpoints"
Would be great if there was a way to sub networking call failures for specific endpoints.

[2016-01-20 10:28] #54 closed

[2016-01-20 14:43] 3lvis opened #56 "Check if DELETE should return JSON or just a NSError"

[2016-01-22 10:43] 3lvis commented on #56
It can return JSON, for example the deleted object with just a flag

[2016-01-22 10:43] #56 closed

[2016-01-24 09:00] 3lvis opened #58 "Fake a request with delay"
At the moment all fake request return immediately.  Would be great to have a delay in order to test UI responses and interactions such as viewing the loading indicator for a few seconds before seeing the data.

[2016-01-24 09:10] 3lvis opened #59 "Improve faking requests with pattern matching"
Right now faking a request requires you to send the explicit path to be faked, but it would be great if instead you could provide a pattern.

For example, faking getting the info of a user:

[code]

But what if I want to fake not only the info of user 315 but **all** the users?

That's why it would be great to also been able to do this:

[code]

[2016-03-22 12:52] 3lvis opened #66 "POST parameters should be optional"

[2016-03-27 12:38] 3lvis opened #68 "Download image with special characters"
https://rescuejuice.com/wp-content/uploads/2015/11/døgnvillburgere.jpg

[2016-03-30 16:59] 3lvis commented on #68
Needs unit testing

[2016-04-12 11:53] #68 closed

[2016-04-12 12:05] #66 closed

[2016-05-09 22:28] 3lvis opened #83 "Custom Accept header"
Right now there's no way to restrict a response type to let's say: `"image/png"`

[2016-05-13 05:55] 3lvis opened #86 "Consider storing in DocumentDirectory instead of CachesDirectory"
CachesDirectory is great because it leaves a small footprint on the devices but it really gives a worst experience when your phone is running out of available disk space since the Caches folder is cleared over and over again.

[2016-05-14 12:25] 3lvis commented on #86
A good option would be to store the data in the Documents directory but flaging the file as "do not back up".

https://developer.apple.com/icloud/documentation/data-storage/index.html

[2016-05-14 13:08] #86 closed

[2016-05-16 15:15] reeichert opened #91 "Implement uploading of multpart/form-data"

[2016-05-16 16:10] 3lvis commented on #91
Good one, working on it!

[2016-05-20 05:26] 3lvis commented on #91
Progress here: https://github.com/3lvis/Networking/tree/feature/multipart

[2016-05-20 14:44] gbanfalvi opened #93 "Response headers"
Any possibility of returning response headers in the callback block?

[2016-05-20 14:49] 3lvis commented on #93
Hi @ gbanfalvi,

Could you elaborate a bit more on why you need the response headers? Maybe we can find a better solution :)

[2016-05-20 17:00] rajohns08 opened #95 "Consider handling image cache retrieval under the hood"
The README states:

let networking = Networking(baseURL: baseURL)
networking.downloadImage("/image/png") { image, error in
    // Downloaded image
}
[code]

I would argue that as a user of the library I'd rather always call `networking.downloadImage()` and be completely agnostic to whether it came from network or cache. Otherwise I litter `if !cached` checks before all my download calls.

[2016-05-20 17:01] rajohns08 commented on #95
Although if this is accepted, you might need to rename the `downloadImage` api call to something more generic like `getImage`.

[2016-05-20 17:17] 3lvis commented on #95
Hi Adam,

That's exactly how `downloadImage` works, the `imageFromCache` method is just a helper method that doesn't hit the network. I'll update the README accordingly.

[2016-05-20 17:17] #95 closed

[2016-05-20 18:07] 3lvis commented on #95
Should be much better now. Thanks for pointing that out!

[2016-05-20 19:39] MKGitHub opened #96 "This is not a issue…"
I really love the description, 100% with you on that!

[2016-05-20 19:53] 3lvis commented on #96
Thanks Mohsan, looking forward to hear for you on suggestions on making this better. Have a great weekend!

[2016-05-20 19:53] #96 closed

[2016-05-21 21:37] aabdellah commented on #93
Getting the "Link" header for example?

[2016-05-21 21:57] 3lvis commented on #93
Getting `Last-Modified` could be another example too.

[2016-05-21 21:59] aabdellah commented on #93
For the Link header an integrated parser would be great as well ;)

[2016-05-21 22:00] 3lvis commented on #93
@aabdellah What do you mean with integrated parser?

[2016-05-21 22:03] aabdellah commented on #93
It could parse the link header value and return  a dictionary with rel keys and link values.
https://tools.ietf.org/html/rfc5988

[2016-05-22 09:33] 3lvis commented on #91
Fixed on https://github.com/3lvis/Networking/pull/94

Let me know what you think :)

[2016-05-22 09:33] #91 closed

[2016-05-23 08:31] mixdesign opened #102 "Request progress block"
Haven't found data upload progress block in documentation. Is it planned or forgotten to appear in documentation?

Library looks simple and tasty! Thank you!

[2016-05-23 09:02] 3lvis commented on #102
Hi Almas,

I'm happy that you like this library 💐 ! Progress block is not implemented yet. I'll put it in the list. ✅

Do you have any preferences? `NSProgress`? Block based params?

[2016-05-24 03:57] mixdesign commented on #102
NSProgress. Why not?...

[2016-05-24 13:04] sgl0v opened #104 "Request cancellation"
This time by calling `cancelRequest` we cancel all requests that match our criteria (urls & http methods are equal). I'd consider using unique identifiers to distinguish requests. As an option, we might use `taskIdentifier` from `NSURLSessionTask` for this.

The updated version would work in the next way:
[code]

[2016-05-24 13:27] 3lvis commented on #104
Hi Max!

You can use `cancelGET("user/12")` to cancel the GET request for the information of the user with ID 12. Isn't that what you want?

[2016-05-24 14:34] sgl0v commented on #104
Hello, Elvis. I mean that `cancelRequest` method cancels all sessionTasks that have `HTTPMethod` & `NSURL` equal to the one we provide:

[code]

As a user I can start N requests by calling `networking.GET("/get") { ...` N times. But there is no way to cancel a particular request. The `networking.cancelGET("/get")` call cancels all of them as you can see from the implementation.

[2016-05-24 15:15] 3lvis commented on #104
I see! Would you mind proving some real life use cases so we can make sure we implement the best solution for this?

[2016-05-25 18:13] 3lvis commented on #104
the current cancel method wouldn't work for making several POST requests to the same target, since usually post requests share the same path, but have different attributes.

[2016-05-25 18:31] sgl0v commented on #104
Yep. Lets assume we are using the REST API and have POST method to create resource or PUT to update resource. For doing this you'll use HTTP body to transmit the data (not query string as for GET).

Request:
[code]

Response:
[code]

In this situation the cancellation won't work as expected.

[2016-05-26 18:30] BjornRuud commented on #93
+1 for response headers. I have in several projects used HEAD requests to get the Last-Modified header to check for resource updates. The HTTP header is a nice place to put resource and webservice metadata.

[2016-05-28 13:53] 3lvis commented on #83
Closing for now, I'll reopen if more people want this.

[2016-05-28 13:53] #83 closed

[2016-05-28 14:24] #93 closed

[2016-05-28 15:28] 3lvis commented on #93
Basic support for returning response headers has been set in place, it will be officially released on 1.2.0.

[2016-05-29 07:21] #104 closed

[2016-06-08 22:37] 3lvis opened #108 "Better response faking when using parameters"
For example when talking to a bot I would expect certain reply, the reply depends on the parameters of my request, not on only on the path, so it would be great if Networking had support for this.

Example:

[code]

[2016-06-09 00:18] 3lvis opened #109 "Test caching of requesting the following image as data"
When asking for the data of the following image the result doesn't seem to be cached, or am I wrong?

http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/pa/ipad/pro/ipad-pro-201603-gallery3?wid=4000&amp%3Bhei=1536&amp%3Bfmt=jpeg&amp%3Bqlt=95&amp%3Bop_sharpen=0&amp%3BresMode=bicub&amp%3Bop_usm=0.5%2C0.5%2C0%2C0&amp%3BiccEmbed=0&amp%3Blayer=comp&

[2016-06-18 23:38] tianqiujie opened #111 "api改了？"
networking.POST("/post", parameters: ["MobilePhone" : name.text]) { JSON, error in
            // Successfull post using `application/json` as `Content-Type`
        }

这个提示不行啊

[2016-06-19 18:19] 3lvis commented on #111
@tianqiujie Could you post the error, please?

[2016-07-17 16:03] Gargo opened #117 "Request html page?"
I've checked readme file but it is still unclear for me - how to request just a page? for example, main page from "youtube.com"?

This library always tries to convert the data into json (and of course can't) and so it returns no data but error only. Yes, I tried advices from "Choosing a content type" but I still can't understand what I'm doing wrong

[2016-07-17 18:41] 3lvis commented on #117
You just blew my mind. Why would you want to do that? I use this library mainly for REST interactions, that's why this use case wasn't included in the beginning. What is your use case? I think it could be added if the use case is common enough, for edge cases might be more useful for you to just use NSURLSession.

[2016-07-17 19:09] Gargo commented on #117
I just wanted to try something different from NSURLSession. But thanks for advice.
There are a lot of cases in which automatical json parsing is harmful. For example, OneDrive may return error both as json and html page for the same request.
And yes, I understand that there is a special sdk for OneDrive but I have just suggested a case

[2016-07-25 16:17] webventil opened #118 "Return always JSON when its processable"
I'm having some problems with an API that returns some detailed information as JSON when serving HTTP 500. I want to read that data and evaluate it. Unfortunately I'm always getting nil.

It would be nice to return this data if it if can be parsed instead of just returning nil, if an HTTP error occurs between outside of 200 till 300.

[2016-07-25 16:42] webventil commented on #118
I created a pull request for this #119.

[2016-07-25 19:31] 3lvis commented on #118
Fixed on #119

[2016-07-25 19:31] #118 closed

[2016-07-30 00:25] aasatt commented on #102
Seconded. A simple variable would be perfect. Like `PHAssetImageProgressHandler`:

      networking.progressHandler = { progress in
              print(progress)
        }

[2016-07-31 13:03] 3lvis commented on #111
Closing for lack of response.

[2016-07-31 13:03] #111 closed

[2016-07-31 13:03] 3lvis commented on #117
Closing for now. Let's reconsider it in the future if there are similar requests.

[2016-07-31 13:03] #117 closed

[2016-08-18 08:00] 3lvis opened #123 "Use Result enum instead of multiple optionals"
# Old

[code]
# New

[code]

[2016-09-01 03:29] ajijoyo opened #124 "Code=411 "length required""
hello,
i get error when using multipart-data

Error 411: Error Domain=NetworkingErrorDomain Code=411 "length required" UserInfo={NSLocalizedDescription=length required}

[2016-09-01 07:12] 3lvis commented on #124
Hi! Maybe your backend requires the file/data length in the header, would you mind giving some specifics to check what's exactly that your backend requires?

[2016-09-01 07:31] ajijoyo commented on #124
woooh, done..
thanks...

[2016-09-01 07:31] #124 closed

[2016-09-01 07:35] 3lvis commented on #124
I'm glad you got it working ❤️

[2016-09-06 17:14] rajohns08 opened #127 "Installing with Carthage with --platform iOS still installs all platform frameworks"

[2016-09-06 21:44] 3lvis commented on #127
Do you have any ideas on how to fix that? I'm not sure how that works.

Also, would be nice to understand what's the problem with having it in all the platforms?

[2016-09-06 21:45] rajohns08 commented on #127
Not sure how to fix, but the benefit of only having the iOS platform is it is quicker to download/clone using carthage.

[2016-09-07 04:10] 3lvis commented on #127
I'll have a look, thanks a lot!

[2016-09-07 04:17] 3lvis commented on #127
Look like Alamofire's works because they don't take the time to add a pre-loaded archived version of the framework. [Here's one example](https://github.com/Alamofire/Alamofire/releases/tag/3.4.2). Meanwhile in Networking I add a precompiled zip file of the frameworks, in this way using `carthage update` should be much faster in Networking than in Alamofire. The downside is that Carthage doesn't kn

[2016-09-07 04:19] rajohns08 commented on #127
Not sure if this helps, but I noticed when pointing to your swift3 branch, it worked correctly (only the iOS platform was downloaded)

[2016-09-07 04:19] 3lvis commented on #127
It's because in the Swift 3 branch, I'm not adding the .zip file.

[2016-09-07 04:20] 3lvis commented on #127
<img width="907" alt="screen shot 2016-09-07 at 6 19 21 am" src="https://cloud.githubusercontent.com/assets/1088217/18299695/1a494dca-74c3-11e6-9e10-c2d8908f4ce9.png">

[2016-09-07 04:20] 3lvis commented on #127
More info https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file

[2016-09-07 04:26] 3lvis commented on #127
You can ear more about it from it's creator in this talk:

https://youtu.be/3BqR6_SsD8o?t=18m39s

<img width="1012" alt="screen shot 2016-09-07 at 6 25 43 am" src="https://cloud.githubusercontent.com/assets/1088217/18299778/ee626d3a-74c3-11e6-8a93-6a04a6b7a5a1.png">

[2016-09-07 04:28] 3lvis commented on #127
For me using a library that has the prebuilt binaries works much faster than using another library that doesn't have them, even if that means sending all the platforms since it doesn't need to build anything, just downloads.

[2016-09-07 07:03] 3lvis commented on #127
Closing now since I don't see a way how we could solve this without removing all the benefits of Prebuilt binaries. Let me know if you find something about it.

[2016-09-07 07:03] #127 closed

[2016-09-10 08:59] 3lvis opened #128 "Add support for offline requests"
https://github.com/3lvis/NSURLSessionTask-ANDYOffline

[2016-09-16 05:11] 3lvis commented on #58
Cancellable parameters.

[2016-09-18 16:13] 3lvis opened #130 "Improve error logging"
Remove "Optional(" from URL:

[code]

[2016-09-18 20:55] 3lvis commented on #130
This no longer happens in Swift 3, closing.

[2016-09-18 20:55] #130 closed

[2016-09-28 03:16] nttravn opened #133 "Add support for using TLS (HTTPS)"
Hello,
I wanna setup https for all connections. So how to config it?
Thanks,

[2016-09-28 03:21] 3lvis commented on #133
Could you expand on this? How is that done using NSURLSession?

[2016-09-28 13:38] #47 closed

[2016-09-28 19:59] nttravn commented on #133
Hello,
My server is applying https for all requests from app. So I must implement https for it.
Thanks,

[2016-09-28 21:27] 3lvis commented on #133
I'm using this with a server that uses HTTPS and I don't have problems. Could you explain what exactly your problem is?

I use this:

[code]

[2016-09-28 21:29] 3lvis commented on #133
I'm sure I can find a way to add better support for this if you could share more details :)

[2016-09-28 21:32] 3lvis commented on #133
Maybe something related to authentication challenges?

https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/URLLoadingSystem/Articles/AuthenticationChallenges.html#//apple_ref/doc/uid/TP40009507-SW1

[2016-09-29 03:07] nttravn commented on #133
Hi 3lvis,
My server did implement TLS for HTTPS. I will apply a cer file into my project app and configure any request from app to server side for using HTTPS.

I did implement this with Alamofire:
![screen shot 2016-09-29 at 10 06 04 am](https://cloud.githubusercontent.com/assets/3139617/18939705/654dafb2-862c-11e6-87c7-ec61f888a8ee.png)

How to config path to cer file when we use:
self.networkin

[2016-09-29 06:19] 3lvis commented on #133
@nttravn Thanks for that! Right now we don't have support for that but I see how it could be useful. I'll try to add it when I got some more time, meanwhile feel free to implement it yourself, sounds like a nice programming excessive to learn more about NSURLSession.

[2016-09-29 06:48] nttravn commented on #133
Thanks 3lvis :).
Have a nice day.

[2016-10-11 07:16] poprandi opened #138 "Support custom request header fields"
Having support for custom request headers would be great!
At the moment it's only possible to add an authenticate header. It should be possible to add multiple header parameters for a request.

Something like this:
public func POST(_ path: String, parameterType: Networking.Networking.ParameterType = default, headers: [String: Any]?, parameters: Any? = default, completion: @escaping (Any?, [AnyHash

[2016-10-11 07:58] 3lvis commented on #138
Hi @poprandi,

Thanks for the suggestions, any particular headers that you might be interested about? Would be great to understand your use case to be able to provide better support for it.

Regarding subclassing, could you share your subclassing needs, please? Sounds like a good idea to make it open but I would prefer to avoid that unless is needed in order to push proposals to the repo so everyb

[2016-10-11 12:22] poprandi commented on #138
Hi @3lvis ,

thank you for your fast answer…
With custom headers I meant something like the following example:

[code]

with subclassing "Networking" I thought about… if someone would like to make a wrapper for some rest service (or sometimes it could also be, that the implementation requires more than one 3rd party service) that the whole networking/connectivity could be extended by adding reacha

[2016-10-12 03:59] ajijoyo opened #140 "failed uploading with ios 10"
hello,
when im trying upload using
`Networking(baseURL: constans.BASE_API_URL).POST(constans.API_CREATE_QUIZ, parameters: params, parts: part)`
but i got this:
`nw_endpoint_flow_protocol_error [14.1 128.199.251.24:443 cancelled socket-flow (null)] Socket protocol sent error: [32] Broken pipe
nw_endpoint_flow_protocol_disconnected [14.1 128.199.251.24:443 cancelled socket-flow (null)] Output protoc

[2016-10-12 08:05] 3lvis commented on #140
Hi @ajijoyo,

Sucks that is working, I can see how annoying it is when things break randomly when jumping to a new OS. Did a quick Google search and found this, maybe is revenant for you?

http://stackoverflow.com/a/38407296/717416

As you can understand as long as I can't reproduce it, I won't be able to fix it.

Is there a chance that you can share some steps to reproduce this issue?

Thanks a l

[2016-10-16 21:25] 3lvis commented on #138
Hi @poprandi

This might not fix your issue but I help it helps a bit: https://github.com/3lvis/Networking/pull/143

[2016-10-16 22:40] #138 closed

[2016-10-18 15:00] 3lvis opened #145 "GET requests shouldn't set a Content-Type"

[2016-10-18 15:00] 3lvis commented on #145
Right now it defaults to JSON, but it should default to `.none`.

[2016-10-20 22:27] 3lvis commented on #145
Fixed here https://github.com/3lvis/Networking/pull/146

[2016-10-20 22:27] #145 closed

[2016-10-20 22:27] 3lvis commented on #140
Closing for lack of more information.

[2016-10-20 22:27] #140 closed

[2016-11-04 04:48] kientux opened #153 "Add support for URL encoded GET parameters"
AFNetworking has this method:

[code]

How can I set parameters for GET with Networking? Currently I have to add param to `path` itself.

[2016-11-04 07:07] 3lvis commented on #153
It's possible at the moment; what type of backend are you using? Usually you don't send parameters using a GET request.

[2016-11-04 07:09] 3lvis commented on #153
In the path you could do like this
[code]

[2016-11-04 08:30] kientux commented on #153
Yes I'm doing like that. But that makes it hard to cancel a specific GET request because the path is vary.

[2016-11-04 08:39] kientux commented on #153
Yes I'm doing like that. But a param would be more convenient.

[2016-11-04 08:40] 3lvis commented on #153
I'll put adding a convenience method for this to the list.

[2016-11-05 08:33] 3lvis commented on #153
Do you know by any chance what's the Content-Type that your backend expects for this?

Is it `"application/x-www-form-urlencoded"`?

Or just nothing?

[2016-11-05 08:37] 3lvis commented on #153
https://www.w3.org/Protocols/rfc1341/4_Content-Type.html

Looks like should be empty since this is appended to the URL and not to the body.

[2016-11-05 08:40] kientux commented on #153
My backend expects the content-type as `"application/json"`. And yes, the parameters of `GET` is just append to the URL, not the body.  So I would say it's just a convenience method, it's not required.

[2016-11-09 14:21] hashemp206 commented on #153
I really need support for url query encoding. I made a hack in the library to support url encoding for `GET` method with parameters. but I get timed out for secondary searches.

line 465 in `Networking.swift` file

[code]

do you have any idea?

[2016-11-22 12:49] 3lvis opened #157 "Add a way to queue 5XX operations for retrying"
https://github.com/bakkenbaeck/iOS-playbook/issues/21

[2016-12-01 10:11] 3lvis opened #158 "Find a way to clear the download cache automatically"
- Either when it reaches certain threshold (size)
- Or clean automatically images not accessed in X days

[2016-12-01 16:58] GeckoGB opened #159 "Swift 3.0.1 incompatibilities?"
Hi,

I'm trying to use Networking 2.3.1 with Swift 3.0.1 (XCode 8.1).

I simply create a brand new Cocoa/Swift project, then: "pod init", add 'Networking' to Podfile, and "pod install". Version 2.3.1 is correctly installed.

Then, when opening the workspace, despite Networking is supposed to be Swift 3.0 ready, i have a _"Convert to current Swift syntax?"_ saying that _"Networking contains source

[2016-12-01 17:55] 3lvis commented on #159
Hi @GeckoGB,

This seems like a CocoaPods issue, everything seems to be working fine from my side.

[2016-12-01 18:19] 3lvis commented on #159
Please use this project as a demo. It uses Swift 3.0.1 without problems.

https://github.com/3lvis/NetworkingThumbnailPerformance/commit/77b2d1e452c5744613deb3412a321a7cb635fa6e#diff-9ffafd1ecd225c2718bff2ce6a570a03R414

Let me know if you need any help.

[2016-12-01 18:19] #159 closed

[2016-12-01 18:21] GeckoGB commented on #159
I don't think so. Pod version 2.3.1 is correctly imported: i've compared (diff) source code from git repository (tag 2.3.1) and file imported by Cocoapod (before XCode conversion): it's exactly the same.
And the 2.3.1 code really include older Swift 2.3 syntax: private, public... So it is normal that XCode complains about syntax and try to convert files, they are not Swift 3.0.

[2016-12-01 18:25] 3lvis commented on #159
@GeckoGB could you delete the Podfile.lock and run `pod update`? The latest version should be 2.4.0.

[2016-12-01 18:47] GeckoGB commented on #159
Updated: now 2.4.0 installed, but XCode still complains about code from earlier Swift version, and asks to convert to Swift 3. And errors are exactly the same.
Looking at source code (git tag 2.4.0), deprecated Swift 2.3 "private" and "public" keywords are still there. So current code really isn't Swift 3.0.

[2016-12-01 18:59] 3lvis commented on #159
That's pretty weird, did you have a chance to look at the https://github.com/3lvis/NetworkingThumbnailPerformance project? It's working fine there.

[2016-12-01 19:00] 3lvis commented on #159
@GeckoGB could you share your Podfile here?

[2016-12-01 19:01] 3lvis commented on #159
I'm also in https://gitter.im/SwiftNetworking/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link if you need help

[2016-12-01 19:03] 3lvis commented on #159
Other things to look at, in your app target check this.

<img width="747" alt="screen shot 2016-12-01 at 20 02 36" src="https://cloud.githubusercontent.com/assets/1088217/20807973/2cbac412-b801-11e6-8a01-a8da1ec083b8.png">

[2016-12-01 19:06] GeckoGB commented on #159
Podfile attached.

[Podfile.zip](https://github.com/3lvis/Networking/files/625525/Podfile.zip)

[2016-12-01 19:13] GeckoGB commented on #159
Demo project: same conversion message, same errors.
![demo](https://cloud.githubusercontent.com/assets/24299259/20808341/7dd7704c-b802-11e6-82aa-2396f46e0b6a.jpg)

[2016-12-01 19:27] GeckoGB commented on #159
Well... I've noticed that pod executable was not the latests, so i've updated it from 1.0.1 to 1.1.1.

Now, `pod install` gives some kind of warnings: _[!] The `test6Tests [Debug]` target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` build setting defined in `Pods/Target Support Files/Pods-test6Tests/Pods-test6Tests.debug.xcconfig'. This can lead to problems with the CocoaPods installation

[2016-12-01 19:28] 3lvis commented on #159
Don't worry!

[2016-12-07 10:40] 3lvis opened #163 "Update docs to include closure arguments"
Swift removed named parameters for closures, having them in the docs could be very helpful to avoid that issue.

[2016-12-10 15:24] #153 closed

[2016-12-10 15:26] 3lvis commented on #153
Hi all,

First of all, thanks for your patience. Things are quite rough this time of the year at work. Christmas gets close and everybody freaks out in Norway. I got some time to wrap this up. I would love your feedback on the final result.

[2016-12-10 17:47] 3lvis commented on #123
Started working on this here https://github.com/3lvis/Networking/pull/166

[2016-12-10 17:47] 3lvis commented on #123
Canceled should probably be handled as success, though. An error should be a failure.

[2016-12-10 17:55] 3lvis commented on #123
I would like something like this if it's possible.

[code]

[2016-12-10 18:47] 3lvis commented on #123
Nah, the Core Data thingie is not working. Getting something like "Using 'ProtocolB' as a concrete type conforming to protocol 'ProtocolA' is not supported".

Tried with Objective-C, got close, but even if it worked with Objective-C. Ewwww.

[2016-12-12 01:37] kientux commented on #153
It works great!

[2016-12-17 15:42] 3lvis opened #168 "Convert all fatalErrors to throws or errors in the callback"

[2017-01-09 12:32] jokefaker opened #171 "let the Networking extension methods to be public"
so，can you let Networking extension methods to be public to satisfy some special condition,  for exam we may add a request body to the DELETE method，if it's public, it can be easy to write a extension

[2017-01-09 14:10] 3lvis opened #173 "Check caching for urls longer than 255 characters"
255 characters, resulting in error. Another option to explore is to use a hash version of the url if it's
 longer than 255 characters.

[2017-01-12 08:22] 3lvis opened #176 "Multipart request not working for uploading a picture"

[2017-01-25 08:42] nsoojin commented on #176
I sent a PR(https://github.com/3lvis/Networking/pull/179) for this issue

[2017-01-29 04:53] 3lvis commented on #176
Fixed by the fantastic @nsoojin. Thanks again. ❤️

[2017-01-29 05:05] 3lvis opened #185 "Document synchronous networking in README"
[code]

https://github.com/3lvis/Networking/blob/828f3c53e174edc9bbad347821494273c60701fd/Sources/Networking.swift#L141

[2017-01-29 05:05] 3lvis opened #186 "Document disableErrorLogging in README"
https://github.com/3lvis/Networking/blob/828f3c53e174edc9bbad347821494273c60701fd/Sources/Networking.swift#L146

[2017-01-29 05:07] #176 closed

[2017-01-29 05:08] 3lvis commented on #171
@jokefaker I'll make it open for easier subclassing.

[2017-01-29 05:20] 3lvis commented on #171
It's marked as `open` now. I thought DELETE shouldn't have a request body.

You want something like:

[code]

[2017-01-29 05:59] #186 closed

[2017-01-29 06:01] #185 closed

[2017-01-29 18:19] 3lvis commented on #163
Done.

[2017-01-29 18:19] #163 closed

[2017-01-29 18:20] 3lvis commented on #168
Done

[2017-01-29 18:20] #168 closed

[2017-01-29 18:20] 3lvis commented on #123
Done

[2017-01-29 18:20] #123 closed

[2017-02-03 05:49] nsoojin opened #195 "fatalError when body is an invalid image"
Hi,
Right now app crashes due to the fatal error in the initializer of ImageResult enum when the response body cannot be casted to Image.
But I think this should not be a fatal error because it is a problem from backend and developers can recover from and handle such cases.
So rather than fatal-erroring, how about make it a failure (parsing error perhaps?).
If you think the same way, I'll make a P

[2017-02-03 06:30] 3lvis commented on #195
Hi @nsoojin,

Is this what you were talking about https://github.com/3lvis/Networking/pull/196?

I'm gonna add you as contributor so it's easier for you to contribute :) If you have any suggestions or want to improve anything we can discuss it in Gitter, might make things better.

https://gitter.im/SwiftNetworking/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-02-03 06:45] 3lvis commented on #195
Fixed in #196

[2017-02-03 06:45] #195 closed

[2017-02-03 06:49] nsoojin commented on #195
wow that was fast!
ok thanks :)
looking forward to contribute!

[2017-02-03 06:51] 3lvis commented on #195
@nsoojin yay! 💐

# [Released in Networking 3.0.1](https://github.com/3lvis/Networking/releases/tag/3.0.1)

[2017-03-16 12:57] ThabreshVivid opened #198 "HttpBody attachement"
How can I add this lines ?

 let values = ["emailID": "info@info.com"]
 request.httpBody = try! JSONSerialization.data(withJSONObject: values)

[2017-03-16 13:00] 3lvis commented on #198
@ThabreshVivid If I understand correctly it should be something like:

[code]

[2017-03-17 12:00] ThabreshVivid commented on #198
![screen shot 2017-03-17 at 5 29 09 pm](https://cloud.githubusercontent.com/assets/18044565/24042274/49274650-0b37-11e7-9efc-2091313db842.png)

@3lvis here the 7th line I got the error. how to resolve this ?

[2017-03-17 12:11] 3lvis commented on #198
@ThabreshVivid you probably need to use

@ThabreshVivid it's parts and needs an array of FormDataPart.

So change it to

[code]

[2017-03-17 12:22] ThabreshVivid commented on #198
@3lvis How can I set the content type ??

like this,
networking.post("DriverPhotoUpload", parameterType: .custom("multipart/form-data"), parameters: imageData) { result in

[2017-03-17 12:30] 3lvis commented on #198
The content-type is automatically set for you.

[2017-03-17 12:32] 3lvis commented on #198
There's a simple example here.

https://github.com/3lvis/Networking/blob/master/Tests/POSTTests.swift#L116-L151

[2017-03-17 12:37] ThabreshVivid commented on #198
@3lvis thanks its working too good :)

[2017-03-17 12:37] #198 closed

[2017-06-15 10:20] ThabreshVivid opened #201 "Cookie handling"
Hi @3lvis how to add a cookie header ??

[2017-06-15 20:42] 3lvis commented on #201
Hi Thabresh,

We don't have support for that at the moment but should probably be simple to add. I would be very happy to receive a contribution adding it.

[2017-06-16 07:07] ThabreshVivid commented on #201
Hi @3lvis,
Thanks for your reply. I will do it:)

[2017-06-16 07:07] #201 closed

[2017-07-06 17:27] porter707 opened #202 "Handle self signed SSL certificates"
Hi, sorry if this is already a feature or explained somewhere but I couldn't find the answer

So when I make a call to a site that has a self signed SSL certificate I get the following response back

========== Networking Error ==========

*** Request ***

Error -1202: Error Domain=NSURLErrorDomain Code=-1202 "The certificate for this server is invalid. You might be connecting to a server that is

[2017-07-07 13:39] 3lvis commented on #202
Hi @porter707,

Could you please help me reproducing the error? I haven't used self signed certificates before.

[2017-07-07 16:54] porter707 commented on #202
Hi @3lvis,

Sure whats the best way to go about this?

Basically I have a localhost site that I've created a self signed certificate for.

https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-14-04

then when my app makes a post request to the site I get the above error.

I can try and get a public facing site with a self signed certificate up if yo

[2017-07-08 21:20] 3lvis commented on #202
@porter707 Could you please send me a private message in Gitter so I can follow up? Maybe I can try using your server.

https://gitter.im/SwiftNetworking/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-07-10 05:49] Smiacter commented on #185
I use post with parameters, type is .formURLEncoded, and set isSynchronous = true. but it not work, it's also asynchronous request...

[2017-07-10 07:50] 3lvis commented on #185
@Smiacter I'll check it out. Thanks for reporting this!

[2017-07-10 07:50] 3lvis opened #203 "Synchronous request using POST with formURLEncoded is not synchronous"
Reported in a comment from: https://github.com/3lvis/Networking/issues/185#issuecomment-314011698

[2017-07-10 08:58] 3lvis commented on #185
Hi @Smiacter,

All the tests are synchronous and I have a test for formURLEncoded and got it working without problems. Could you double check or share an example of what you're doing with me? All is working fine here.

[2017-07-10 08:58] 3lvis commented on #203
We have a synchronous test for it.

https://github.com/3lvis/Networking/blob/master/Tests/POSTTests.swift#L91-L114

[2017-07-10 08:58] #203 closed

[2017-07-10 09:04] Smiacter commented on #185
@3lvis Thanks, I'll check it again.

[2017-07-10 09:31] 3lvis commented on #185
This is the unit test I mentioned https://github.com/3lvis/Networking/blob/master/Tests/POSTTests.swift#L91-L114

[2017-07-10 10:47] Smiacter commented on #185
@3lvis ok, I'll try it, thanks for your help.

[2017-09-06 09:02] SalvatoreAD opened #204 ".Background configuration type"
Hi, I'm trying to make POST requests in multipart in the background, but I get this error:

Can you give me an example to use background type request?

Thanks

[2017-09-06 13:49] 3lvis commented on #204
Hi @SalvatoreAD,

For post request in the background, I would recommend you to use Alamofire. Networking is not well optimized for background uploads. I tried looking into it some time ago and figured is outside of its main purpose which is to provide a simple interface to GET, PUT, POST and DELETE requests.

[2017-09-06 14:09] SalvatoreAD commented on #204
Hi @3lvis I tried Alamofire, but I can not make a download, while with this library I have succeeded. Can you explain how to use the ".background" configuration?

[2017-09-06 16:12] 3lvis commented on #204
This is what I used as a guide when I tried to implement this feature. https://github.com/nevyn/URLSessionTest

[2017-09-06 16:12] 3lvis commented on #204
The difficult part was to support resuming downloads.

[2017-09-06 16:20] SalvatoreAD commented on #204
ok, How can I use this configuration in swift? Can you give me an example?

[2017-09-06 18:22] 3lvis commented on #204
@SalvatoreAD We don't have support for background uploads in Networking, check this project for a reference on how to implement this. https://github.com/nevyn/URLSessionTest

Sorry for not being more helpful now.

[2017-09-20 09:47] jiankian opened #205 "does it full support the new Swift4？"
I care about this .some like compatible

[2017-09-20 11:05] dorucazan opened #206 "Is disable caching possible?"
Hi,
I am using the library to download data that changes often on server but URL remains. Because of this I need to disable caching mechanism. Is this possible?
Thanks!

[2017-09-20 15:08] 3lvis commented on #205
Added support here https://github.com/3lvis/Networking/pull/207

[2017-09-20 15:08] #205 closed

[2017-09-20 20:32] 3lvis commented on #206
Hi @dorucazan,

We don't support that right now, it caches by default but should be simple to add. You could add a variable to Networking called "isCachingEnabled" by default the value is true, then you can check for this variable before caching

[2017-09-27 21:41] 3lvis commented on #171
I think this should be fixed now, otherwise, let me know.

[2017-09-27 21:41] #171 closed

[2017-09-28 17:32] aasatt opened #210 "Support for JSONDecoder"
With Swift 4 we have `JSONDecoder` to make `Data` to our objects. No need to go through array or dictionary body. To use Networking with this it seems we have to turn these results back into JSON data and then pass it into the decoder.

What do you think the best way to get the raw data from the result would be?

I was thinking just a `.data` parameter along with `.arrayBody` and `.dictionaryBody`

[2017-09-28 21:52] 3lvis commented on #210
Adding `.data` to the `ResultType.Success` sounds like the best solution for this. 👌

[2017-09-29 18:37] aasatt commented on #210
Can't decide on the best way to implement this.

Do you think it's acceptable to convert back to data on the fly when requested? Or do we need to go as far back as `handleJSONRequest` where the data is deserialized?

[2017-09-29 20:02] 3lvis commented on #210
Made a PR for this, need to add unit tests.

https://github.com/3lvis/Networking/pull/211

[2017-09-29 20:57] 3lvis commented on #210
Hi @aasatt, could you check master and see if it was what you needed?

Best :)

[2017-10-01 20:55] 3lvis commented on #210
Added a `data` accessor to the response that should return the same data returned by URLSession. https://github.com/3lvis/Networking/blob/2a2a41ca88a5d87f3d81b7bf90d1b9a86819985d/Tests/ResponseTests.swift#L7-L17

[2017-10-01 21:39] 3lvis commented on #210
I hope this helps. Let me know if I can help with anything else :)

[2017-10-01 21:39] #210 closed

[2017-10-02 16:47] aasatt commented on #210
Didn't get a chance to look at it until now. Looks great! Thank you for this!

[2017-10-02 17:53] 3lvis commented on #210
Shipped in https://github.com/3lvis/Networking/releases/tag/4.1.0

[2017-11-11 20:23] codeOfRobin opened #216 "Token Refresh"
Hey Elvis! 👋

I had a few questions around token refresh? What'd be a good way to detect if _any_ request fails, initiate a token refresh, then retry all the requests that failed? (Similar to Alamofire's [session retrial](https://github.com/Alamofire/Alamofire#requestretrier)

[2017-11-11 22:30] 3lvis commented on #216
HiI! Right now we only have "unauthorizedRequestCallback", it gets called when a 403 is triggered so you can renew your token.

https://github.com/3lvis/Networking/blob/master/Sources/Networking.swift#L169

I think we could do better, though. What are your thoughts on the current solution?

[2017-11-12 07:18] codeOfRobin commented on #216
🤔 Is it called for _all_ requests? If so, In theory, you could put in a couple of `NSLock`s and initiate retrials for all the requests after getting a new token, right?

[2017-11-12 08:19] 3lvis commented on #216
That could work 🤔.

I guess that's the biggest missing piece at the moment, the retrials after the token part. I guess ideally you have all the requests in a queue and if you get a 403, you stop all the requests in the queue until the token is renewed, then you restart the pending requests.

[2017-11-13 05:15] codeOfRobin commented on #216
You mean in a _concurrent_ queue, correct? Doesn't URLSession do that by default?

[2017-11-13 09:41] 3lvis commented on #216
We could probably use that one

https://developer.apple.com/documentation/foundation/urlsession/1411597-init

[2017-11-15 14:15] fergonzalez opened #217 "Json parameters support on DELETE"
Is there a way to send json parameters on a DELETE request as we can on a POST request?

[2017-11-15 18:36] 3lvis commented on #217
Hi @fergonzalez, I didn't add parameters to DELETE since didn't seem like the best idea at the time. What's your use case? :)

[2017-11-28 13:09] codeOfRobin commented on #216
@3lvis how about we have a post and a pre-response hook for all requests? That way, you don't execute a `completion` block (like in https://github.com/3lvis/Networking/blob/master/Sources/Networking%2BHTTPRequests.swift#L13 )

until the post commit hook is completed. If you have a 401 with an expired token, execute a `lock.lock*()`, and refresh your tokens. Once your token is refreshed, retry the

[2017-12-19 14:07] SalvatoreAD opened #218 "Progress Multipart Upload"
I tried this function but it does not work. Is it possible to know the percentage of upload and download of a request post?

[2017-12-30 05:39] hashemp206 opened #219 "Support PATCH method"
is there any way to send `PATCH` request with Networking?

[2018-01-02 08:36] #219 closed

[2018-01-02 08:37] 3lvis commented on #219
Hi @hashemp206!

PATCH support added [here](https://github.com/3lvis/Networking/pull/220) and coming in the next version!

[2018-01-04 10:15] batjo opened #221 "Network Activity Indicator not showing"
It seems the Network Activity Indicator is not working when I make a request. Seems to be related to

[code]

[2018-01-05 09:14] #221 closed

[2018-02-11 07:59] 3lvis commented on #217
Closing for lack of activity.

[2018-02-11 07:59] #217 closed

[2018-02-11 08:01] 3lvis commented on #218
Hi @SalvatoreAD,

Sorry for not replying before. I don't remember adding a progressHandler...  but surely this is something that should be prioritized.

[2018-02-11 08:41] 3lvis commented on #206
Should be possible now!

https://github.com/3lvis/Networking/pull/227

[2018-02-11 08:41] #206 closed

[2018-02-11 09:03] 3lvis commented on #217
Btw, this was fixed on master! :D

[2018-02-13 09:05] SalvatoreAD commented on #218
@3lvis Thanks, it would be really useful in order to integrate your library completely. The library is really excellent.

[2018-02-13 09:06] #204 closed

[2018-04-02 15:19] danmartyn opened #228 "Change the base URL for a single request?"
Is it possible to change the base URL for a single request?

[2018-04-03 11:54] 3lvis commented on #228
@danmartyn Hi, sadly no, you'll need to create a new Networking instance for each base URL.

[2018-04-04 03:26] #228 closed

[2018-06-07 17:26] joerland2 opened #229 "Installation Support Swift Package Manager"
Is there any way that you can adopt this library to support the Swift Package Manager?

[2018-06-08 18:49] 3lvis commented on #229
Hi @joerland2,

This might be relevant https://github.com/3lvis/Networking/pull/225

[2018-09-15 18:00] webventil opened #237 "Caching folder not be documents folder"
Currently the documents folder is used for caching in a non testing environment. This is quiet unusual and should be changed to an temporary folder.
Unfortunately the whole documents folder is excluded from the backup! This folder often contains the CoreData database. So it it not good to exclude it from backup!

https://github.com/3lvis/Networking/blob/dae95a28e464a39ee7d152eafa282eb1b2fa2b34/Sou

[2018-09-27 18:52] deanq opened #240 "fakeGET crashes under XCode 10.0 and Swift 4.2"
Networking version: 4.3.0

Exception:
`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Invalid type in JSON write (_SwiftValue)'`

Values tried:
- `network.fakeGET("/somepath", response: "")`
- `network.fakeGET("/somepath", response: [])`

Not this either:
[code]

The crash occurs at Networking/FakeRequest.swift, line 42:
`var responseString = String(data: try!

[2018-11-12 13:21] markst opened #243 "Expose handleJSONRequest(..)?"
Would exposing `handleJSONRequest()` every be considered?

I'd like to be able to perform requests conditional on an objects primary key & have control over the caching level.

i.e:

[code]

[2018-11-12 13:21] markst commented on #243
I suppose this would also involve exposing `RequestType` & `ResponseType` enums.

[2018-11-13 09:48] 3lvis commented on #243
Hi! I don't think the workaround might make it worthwhile to exposing those endpoints. It looks pretty clean the way you've resolve it.

[2019-01-21 16:15] juanm4 opened #244 "Problem with changes on UI Threath"
Hi, I'm trying to understand how response works. I want to concatenate two post calls and update UI between first call and second call. For more details I'm posting my code here:

[code]

Well, the problem I have is next: I call to function `downloadFilter()` and toast activity is showed. When the call ends, toast is hidden and it call to function `downloadOferts()`, but the second toast (it is in

[2019-01-22 16:09] 3lvis commented on #244
Hi @juanm4,

Correct, the problem is the asynchronicity of things. The short answer is maybe you can try something like this

[code]

[2019-01-24 09:33] juanm4 commented on #244
Hi @3lvis, I have checked your solutions but it doesn't work. The code has the same behavior.

So I have decided show only one Toast which is hidden only on the second call (I havent't found a way to show both messages). At the end this is mi code:

[code]
Thanks for your time and best regards!

[2019-01-24 10:22] 3lvis commented on #244
Any time, Juanma! Ping me if you need help with anything else :)

[2019-01-24 10:22] #244 closed

[2019-10-04 23:39] aasatt commented on #229
To install Networking with SPM on Xcode 11 you need to change the swift-tools-version to 4.2 at the top of Networking's Package.swift file. It's because `UIImage.jpegData(compressionQuality: 1)` was introduced in Swift 4.2

[code]

Sample Package.swift with Networking dependency:

[code]

[2019-11-14 22:32] aasatt opened #248 "`cacheOrPurgeData` causing production crashes"
The `cacheOrPurgeData` function is hitting a fatal error intermittently. I am unable to reproduce the issue while debugging but it is pretty clear in my crash reports.

From what I can see, it would be okay if this function fails silently.

I would like to propose that we swap the `fatalError` out in favor of an `assert` and just return inside the `guard`

Current:
[code]

Proposed solution:

[cod

[2019-11-15 16:08] 3lvis commented on #248
Oh, we need to fix this. Any chance to get a PR @aasatt ?

[2019-11-16 11:13] 3lvis commented on #248
Fixed in https://github.com/3lvis/Networking/pull/249

[2019-11-16 11:13] #248 closed

[2019-11-16 11:32] 3lvis commented on #248
Released in https://github.com/3lvis/Networking/releases/tag/5.0.1

[2019-11-27 11:37] mkll opened #252 "Can't use Swift 5 Result enum due to interference with custom one. Need to rename?"
Attempt to use Swift 5 Result (`Result<Success, Failure>`) within any source file that imports Networking leads to compiler error. As a workaround I renamed Networking's Result to NetResult in local pod repository, but it’s clear that these changes will be overwritten on any subsequent framework update. It seems that here we need a permanent solution that takes into account the conflict of names.

[2019-11-29 03:26] 3lvis commented on #252
Good point, we should rename it. Prefixing things with Networking should be the way to go. Would you mind submitting a PR? Otherwise I'll do it when I get more time. Thanks for reporting!

[2019-11-29 06:22] mkll commented on #252
Oh, sure, I will submit PR today.

[2019-11-29 06:45] mkll commented on #252
https://github.com/3lvis/Networking/pull/253

[2019-12-04 14:06] #252 closed

[2020-03-21 02:08] rene-dohan opened #255 "I didn't found way to get my body data as json parsing is failing"
You totaly blocked api to get to body as data or string.
My server returns body like this (from debugger) :
<__NSSingleObjectArrayI 0x600000aaa320>(
https://img.motofotky.cz/upload/images/forum/2020/12/516269_upload.jpg
)
Parsing returns  JSON.none with no way how I can retrieve data while still receiving success.
Although nice library but api is very closed and unable to extend with important pie

[2020-03-21 02:37] rene-dohan commented on #255
Data as string looks like this:
`"["https:\/\/img.motofotky.cz\/upload\/images\/forum\/2020\/12\/516270_upload.jpg"]"`

I am able to parse it perfectly like this:

[code]

And I get swift array with one string obviously. So I believe parsing in you case is more strict what is in this case not useful at all as we developers sometimes don't have control over server responses or it is so complicated

[2020-03-21 02:40] rene-dohan commented on #255
So I modified your library but, I just made small change...

[code]

[code]

But I don't believe you want to push this up.  Maybe better fix that parser please.

[2020-03-21 10:04] mkll commented on #255
@rene-dohan, Hi, could you post the output of the curl request to the API endpoint here?

[2020-03-21 13:05] mkll commented on #255
@rene-dohan, I looked more closely and, as I understand the essence of the problem, you need access to the raw data, but the library does not allow this.

But the library allows. Look at this:

[code]
This snippet does just what you need. The result is an array of string values.

[2020-03-25 23:43] rene-dohan commented on #255
No becase I see empty data there :) look at your source code please ;)

public var data: Data {
        switch json {
        case let .array(value, _):
            return value
        case let .dictionary(value, _):
            return value
        case .none:
            return Data()
        }
    }

So basically you return empty Data(), I don't know why , what should I do with it ? :) well it

[2020-03-26 12:39] mkll commented on #255
@rene-dohan I am not the author of this library. I just wanted to help. :)

In order not to return nil, of course.

[2020-03-26 13:33] mkll commented on #255
@rene-dohan I conducted a series of experiments and ended up with the fact that we really do not have access to raw data. So you are right.

Could you make a pull request?

[2020-06-04 17:35] #255 closed

[2020-06-04 19:04] #29 closed

[2020-06-04 19:04] #33 closed

[2020-06-04 19:04] #58 closed

[2020-06-04 19:04] #102 closed

[2020-06-04 19:04] #108 closed

[2020-06-04 19:04] #109 closed

[2020-06-04 19:04] #133 closed

[2020-06-04 19:04] #157 closed

[2020-06-04 19:04] #158 closed

[2020-06-04 19:04] #173 closed

[2020-06-04 19:04] #202 closed

[2020-06-04 19:04] #216 closed

[2020-06-04 19:04] #218 closed

[2020-06-04 19:04] #229 closed

[2020-06-04 19:04] #240 closed

[2020-06-04 19:04] #243 closed

[2020-07-08 17:56] mkll opened #260 "Facing a strange crash time to time"
Hi @3lvis ,

I use Networking in an app that is currently under active development, so I run it in the simulator several dozen times a day. 1-2 times a day, the application crashes in the same place for no apparent reason:
[code]
I tried to find out exactly which path is formed in those cases when there is no crash, and set a breakpoint. Here is the result:
[code]
Hmm, nothing special. Slashes are

[2020-07-08 18:37] 3lvis commented on #260
Hello @mkll!

1.- I think your logic makes sense, somehow the URL session configuration should have been connected to the way caching is handled in Networking. Sadly, it wasn't done that way, instead caching is handled at the call level. Whenever you make a Networking call you can decide the caching level, the default is none.

If I were to make the change now of connecting URL session configurati

[2020-07-08 18:46] mkll commented on #260
@3lvis thanks for the clarification.
Imagine how surprised I was when I saw this crash for the first time. Whaaat? Caaache? But how? :)
As for me, removing `fatalError` seems to be enough to eliminate negative impact. It's just an overkill here.

[2020-07-08 19:02] #260 closed

[2020-07-08 19:13] 3lvis commented on #260
Fix published in 5.0.3, thanks!

https://github.com/3lvis/Networking/releases/tag/5.0.3

------------

##### Finding this project helpful? Consider supporting further development and support by becoming a sponsor:
##### 👉  https://github.com/sponsors/3lvis

[2020-10-21 07:07] haozes opened #262 "No waitsForConnectivity support for background request."
Hi.
Thanks for the great code make my life easier.
And I have not find  **waitsForConnectivity**  support  for  **URLSessionConfiguration**
_
https://developer.apple.com/documentation/foundation/urlsessionconfiguration/2908812-waitsforconnectivity

That is useful for a background request. Is it missed or not?

Thanks

[2020-10-21 15:56] 3lvis commented on #262
Hi @haozes, hope you're doing well. `waitsForConnectivity` hasn't been added since nobody has asked for it yet but we could look into it.

[2021-01-28 19:00] ManjitBedi opened #263 "Using Networking lib to make a post in the background?"
Hello, I am currently trying out the library.

On the project, I am working on we have a need to do uploads of images in the background.  I have the code working using a form post with the image data.

However, if I set the configuration to background, e.g:

```let networking = Networking(baseURL: urlString, configuration: .background(withIdentifier: "com.appname"))```

The app will throw an excep

[2021-01-30 07:00] 3lvis commented on #263
Hi @ManjitBedi,

That's one of the missing features in Networking, doesn't handle background uploads as it should. I tried to make it work but it's been a while since I tried.

[2021-01-30 16:59] ManjitBedi commented on #263
Thanks for the reply.

I see;  yes, it is a bit of work to do support background uploads;  I am currently doing my own implementation specific to the application that I am working on.

[2021-01-30 16:59] #263 closed

[2021-01-31 07:15] 3lvis commented on #263
That should work well! Take care :)

[2021-04-26 06:11] #262 closed